$max-width: 1140px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 40px;
$font-size: 16px;
$font-size-small: .9em;
//
$color-soft-blue: #F1F6FF;
$color-yellow: #FBBE00;
$color-navy: #083B87;
$color-blue: #01ACEE;
//
$font-family: 'Open Sans','Roboto',Arial, sans-serif;

//